@require './../../includes/core/color-vars'

@require './../../includes/core/reset'
@require './../../includes/core/core'

@require './../../includes/product-links'
@require './../../includes/product-list'

@require './../../includes/footer'