footer.footer
    .footer__list
        .footer__list-item
            a(href="##", data-lang="footer_terms").footer__list-link
        .footer__list-item
            a(href="##", data-lang="footer_policy").footer__list-link
        .footer__list-item
            a(href="##", data-lang="footer_restore").footer__list-link Restore